.npmignore
Modules/
Modules.meta
Tests/
Tests.meta
Plugins/Android/Firebase/
Plugins/Android/Firebase.meta
Editor Default Resources.meta
Editor Default Resources/Firebase/
Editor Default Resources/Firebase.meta
Firebase/Editor/generate_xml_from_google_services_json*
